<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/css/estilos.css">
    <script src="https://kit.fontawesome.com/6131ecdde6.js" crossorigin="anonymous"></script>
    <title>Registro Bitacora</title>
</head>
<body>
    <nav>
        <div class="logo">
          <img src="../../../static/img/icono-removebg-preview.png">
        </div>

       <div class="header">
        <a  class="salir" href="..//../index.html">Cerrar sesión <i class="fa-solid fa-right-from-bracket"></i></a>
       </div>
      </nav>

      <div class="registrobitacora">
        <div class="contendorla">
            <div class="botonb">
              <a class="btnbitacora" href="#"><h1>Bitacora</a>
            </div>
          </div>
        

        <div class="contendorregistrobi">
          <div class="formulario">
            <h1>Registro Bitacora</h1>
            <form>
              <div>
                <label>Id Bitacora:</label>
                <br>
                <input type="number">
              </div>

              <div>
                <label>Tipo Implemento:</label>
                <br>
                <select>
                    <option aria-placeholder="Seleccione"></option>
                    <option>Balones</option>
                    <option>Redes</option>
                    <option>Entre otros</option>
                  </select>
              </div>

              <div>
                <label>Nombre Implemento:</label>
                <br>
                <input type="text">
              </div>

              <div>
                <label>Tamaño Implemento:</label>
                <br>
                <input type="number">
              </div>

              <div>
                <label>Peso Implemento:</label>
                <br>
                <input type="number">
              </div>

              <div>
                <label>Cantidad Implementos:</label>
                <br>
                <input type="number">
              </div>

              <div>
                <label>Funcion Implemento:</label>
                <br>
                <input type="text">
              </div>

              <div>
                <label>Estado Implemento:</label>
                <br>
                <select>
                    <option aria-placeholder="Seleccione"></option>
                    <option>Sin Uso</option>
                    <option>En uso</option>
                  </select>
              </div>

              <div>
                <label>Observaciones Implemento:</label>
                <br>
                <input type="text">
              </div>

              <div>
                <label>Edad por categoria:</label>
                <br>
                <select>
                    <option aria-placeholder="Seleccione"></option>
                    <option>Niños</option>
                    <option>Jovenes</option>
                    <option>Adultos</option>
                  </select>
              </div>

              <div>
                <label>Cantidad Personas Por Cateogria:</label>
                <br>
                <input type="number">
              </div>

              <div>
                <label>Descripcion Categoria:</label>
                <br>
                <input type="text">
              </div>

              <div>
                <label>Estado Categoria:</label>
                <br>
                <select>
                    <option aria-placeholder="Seleccione"></option>
                    <option>Activa</option>
                    <option>Inactiva</option>
                  </select>
              </div>

              <div>
                <label>Cantidad Implementos Usados:</label>
                <br>
                <input type="number">
              </div>

              <div>
                <label>Fecha Bitacora</label>
                <br>
                <input type="date">
              </div>

              <div>
                <label>Estado Bitacora:</label>
                <br>
                <select>
                    <option aria-placeholder="Seleccione"></option>
                    <option>Activa</option>
                    <option>Inactiva</option>
                  </select>
              </div>

              <div class="botonbita">
                <a class="guardar" href="#">Guardar</a>
              </div>

            </form>
          </div>
        </div>
      </div>
      <footer>
        <div>
        <p class="redess"><img src="../../../static/img/instagram.png">@golden_lions_2021</p>
        <p class="redess"><img src="../../../static/img/facebook.png">@Golden_Lions</p>
        </div>
        <div>
        <p></p>
        <p></p>
        </div>
    
        <div>
        <p class="redess">Derechos Reservados.....</p>
        <p class="redess">30215187</p>
        <p class="redess">30188459</p>
        </div>
      </footer>
    </body>
</html>
    
