<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/css/estilos.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GOLDEN LIONS</title>
  </head>
  <body>

          <nav>
            <div class="logo">
              <img src="../static/img/icono-removebg-preview.png">
            </div>

           <div class="header">
             <a href="#login.html" class="item button"><img class="login" src="../static/img/login.png"></i></a>
           </div>
          </nav>

          <section class="contenedorbalon">
           <img class="balon" src="../static/img/balon2.jpg"/>
          </section>
          <br>


          <center><div class="sliderimg">
  
            <ul class="slider">
              <li id="slide1">
                <img src="../static/img/kevin-olson-AAp8qSNbvmA-unsplash.jpg">
              </li>
              <li id="slide2">
                <img src="../static/img/nathalia-segato-DOJ_obLglKQ-unsplash.jpg">
              </li>
              <li id="slide3">
                <img src="../static/img/nik-shuliahin-BWRyS1-KKrs-unsplash.jpg">
              </li>
              <li id="slide4">
                <img src="../static/img/robin-jonathan-deutsch-oOUPB-cLMbA-unsplash.jpg">
              </li>
              <li id="slide5">
                <img src="../static/img/steven-abraham-fkWtCoij4e0-unsplash.jpg">
              </li>
            </ul>
            
            
            <ul class="menu">
              <li>
                <a href="#slide1">1</a>
              </li>
              <li>
                <a href="#slide2">2</a>
              </li>
               <li>
                <a href="#slide3">3</a>
              </li>
              <li>
                <a href="#slide4">4</a>
              </li>
              <li>
                <a href="#slide5">5</a>
              </li>
            </ul>
            
          </div></center>

        <footer>
          <div>
          <p class="redess"><img src="../static/img/instagram.png">@golden_lions_2021</p>
          <p class="redess"><img src="../static/img/facebook.png">@Golden_Lions</p>
          </div>
          <div>
          <p></p>
          <p></p>
          </div>
      
          <div>
          <p class="redess">Derechos Reservados.....</p>
          <p class="redess">30215187</p>
          <p class="redess">30188459</p>
          </div>
        </footer>
  </body>
</html>