<!DOCTYPE html>
<html lang="es-Es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b72f550c62.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../../static/estilos/estilos.css">
    <title>BITACORA</title>
</head>
<body class="fondobi">

    <nav>
        <div class="logo">
          <!--<img src="..//../../static/img/icono-removebg-preview.png">-->
          <img src="..//../../static/imagenes/golden logo negro.jpg">
        </div>

       <div class="header">
            <a class="salir" href="index.html">Cerrar sesión <i class="fa-solid fa-right-from-bracket"></i></a>
       </div>
    </nav>

    <h2 class="barrah2">Buscar Registros </h2>

    <div class="barrabusqueda">
        <form>
            <input type="search" name="barra">

            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>

    <div class="contepadre">

        <div class="contenedort">
            <table>
                <thead>
                    <th>Id Implemento</th>
                    <th>Tipo Elemento</th>
                    <th>Nombre Implemento</th>
                    <th>Tamaño Implemento</th>
                    <th>Peso Implemento</th>
                    <th>Cantidad Implemento</th>
                    <th>Función Implemento</th>
                    <th>Estado Implemento</th>
                    <th>Edad Categoria</th>
                    <th>Descripción Categoria</th>
                    <th>Coach a Cargo</th>
                    <th>Observaciones</th>
                    <th>Fecha Bitacora</th>
                    <th>Estado Bitacora</th>
                    <th>Acciones</th>
                </thead>
            
                <tbody>
                    <td>A</td>
                    <td>B</td>
                    <td>C</td>
                    <td>D</td>
                    <td>A</td>
                    <td>B</td>
                    <td>C</td>
                    <td>D</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>                    
                    <td>
                        <button class="botontabla">
                            <a>Editar</a>
                        </button>
    
                        <br>

                        <button class="botontabla">
                            <a onclick="return confirm('Estas seguro de eliminar la Bitacora');">Eliminar</a>
                        </button>
                    </td>
                </tbody>
            </table>
        </div>
    </div>

    <button class="boton"><a href="">Crear Bitacora</a></button>
    
    
    <footer>
        <div>
            <p class="redess"><img src="../../../static/imagenes/instagram.png">@golden_lions_2021</p>
            <p class="redess"><img src="../../../static/imagenes/facebook.png">@Golden_Lions</p>
        </div>
        
        <div>
            <p></p>
            <p></p>
        </div>
    
        <div>
            <p class="redess">Derechos Reservados...</p>
            <p class="redess">30215187</p>
            <p class="redess">30188459</p>
        </div>
    </footer>
</body>
</html>