<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..//../../static/css/estilos.css">
    <script src="https://kit.fontawesome.com/6131ecdde6.js" crossorigin="anonymous"></script>
    <title>Menu Cerente</title>
</head>
<body>

    <nav>
        <div class="logo">
          <img src="..//../../static/img/icono-removebg-preview.png">
        </div>

       <div class="header">
        <a  class="salir" href="..//../index.html">Cerrar sesión <i class="fa-solid fa-right-from-bracket"></i></a>
       </div>
      </nav>

      <div class="container_dashboard">
        <div class="clasesla">
            <div class="botonb">
              <img src="..//../../static/img/golden_logo_negro-removebg-preview.png" width="200px">
              <a class="btnbitacora" href="#"><h1>Bitacora</a>
            </div>
          </div>
        
          <div class="dashboard">
            <div class="container_info_dashboard">
              <div class="cfotosequipos">
                <h1 class="bievenida">Bienvenid@, Gerente</h1>
              <ul class="imagenese">
                <li id="imagenese1">
                  <img src="..//../../static/img/austin-pacheco-FtL07GM9Q7Y-unsplash.jpg">
                </li>
                <li id="imagenese2">
                  <img src="..//../../static/img/clay-banks-oQUxxuizMTM-unsplash.jpg">
                </li>
                <li id="imagenese3">
                  <img src="..//../../static/img/jesse-orrico-mse1vdzZXjA-unsplash.jpg">
                </li>
                <li id="imagenese4">
                  <img src="..//../../static/img/joel-muniz-XHT01BY-cGo-unsplash.jpg">
                </li>
                <li id="imagenese5">
                  <img src="..//../../static/img/fakhri-deto-HVF9nJSTTn0-unsplash.jpg">
                </li>
                <li id="imagenese6">
                  <img src="..//../../static/img/kelly-sikkema-xLA0FyK2nyA-unsplash.jpg">
                </li>
                <li id="imagenese7">
                  <img src="..//../../static/img/nate-landy-OGQ0SiGC0qw-unsplash.jpg">
                </li>
                <li id="imagenese8">
                  <img src="..//../../static/img/kartik-halkara-6BXr6oRk8yo-unsplash.jpg">
                </li>
                <li id="imagenese9">
                  <img src="..//../../static/img/tim-mossholder-xwaaqLHL1VM-unsplash.jpg">
                </li>
                <li id="imagenese10">
                  <img src="..//../../static/img/tj-dragotta-Gl0jBJJTDWs-unsplash.jpg">
                </li>
              </ul>
              
              
              <ul class="menu">
                <li>
                  <a href="#imagenese1">1</a>
                </li>
                <li>
                  <a href="#imagenese2">2</a>
                </li>
                 <li>
                  <a href="#imagenese3">3</a>
                </li>
                <li>
                  <a href="#imagenese4">4</a>
                </li>
                <li>
                  <a href="#imagenese5">5</a>
                </li>
                <li>
                  <a href="#imagenese6">6</a>
                </li>
                <li>
                  <a href="#imagenese7">7</a>
                </li>
                <li>
                  <a href="#imagenese8">8</a>
                </li>
                <li>
                  <a href="#imagenese9">9</a>
                </li>
                <li>
                  <a href="#imagenese10">10</a>
                </li>
              </ul>
              
            </div>
              </div>
            </div>
          </div>
      
      </div>
  
      <footer>
          <div>
          <p class="redess"><img src="..//../../static/img/instagram.png">@golden_lions_2021</p>
          <p class="redess"><img src="..//../../static/img/facebook.png">@Golden_Lions</p>
          </div>
          <div>
          <p></p>
          <p></p>
          </div>
      
          <div>
          <p class="redess">Derechos Reservados.....</p>
          <p class="redess">30215187</p>
          <p class="redess">30188459</p>
          </div>
        </footer>
  </body>
  </html>